<h1 class="text-center my-4">Teams</h1>

<div class="container">
  <!-- Create New Team Button -->
  <div class="text-center mb-4">
    <%= link_to 'Create New Team', new_team_path, class: 'btn btn-primary' %>
  </div>

  <!-- Logout Button -->
  <% if user_signed_in? %>
    <div class="text-center mb-4">
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure you want to log out?' }, class: 'btn btn-danger' %>
    </div>
  <% end %>

  <!-- Teams List -->
  <div class="teams-list">
    <ul class="list-group">
      <% @teams.each do |team| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <!-- Team Name -->
          <%= link_to team.name, team_path(team), class: 'team-name' %>

          <!-- Team Actions (Edit and Delete) -->
          <div class="team-actions">
            <%= link_to 'Edit', edit_team_path(team), class: 'btn btn-warning btn-sm' %>
            <%= link_to 'Delete', team_path(team), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

