<h4 class="team-name text-center my-4">Team Name:  <%= @team.name %></h4>
<div class="text-center mb-4">
  <%= link_to 'Back to Teams', teams_path, class: 'btn btn-success' %>
</div>
<h5 class="team-members-header text-center mb-4 text">My Connections</h5>

<div class="container">
  <div class="row">
    <!-- Left column: List of Team Members -->
    <div class="col-md-6">
      <!-- Member Search Section -->
      <div class="member-search mb-4">
        <%= form_with url: search_members_team_path(@team), method: :get, local: true, class: 'search-form' do |form| %>
          <!-- Last Name Search Bar -->
          <div class="form-group">
            <%= form.label :last_name, "Search by Last Name", class: 'form-label' %>
            <%= form.text_field :last_name, value: params[:last_name], placeholder: 'Enter last name', class: 'form-control form-control-sm mb-3' %>
          </div>
          
          <%= form.submit "Search", class: 'btn btn-info btn-sm' %>
        <% end %>
      </div>

      <!-- List of Team Members -->
      <ul class="list-group">
        <% @members.each do |member| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <% if member.user.present? %>
              <span class="member-email"><%= member.user.email %></span>
              <span class="member-last-name"><%= member.user&.last_name %></span>
              <% if @team.owner == current_user %>
                <%= link_to 'Remove', remove_member_team_path(@team, member_id: member.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
              <% end %>
            <% else %>
              <span class="no-member-info">Member information not available</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <!-- Right column: Add New Member Form -->
    <div class="col-md-6">
      <% if @team.owner == current_user %>
        <h5 class="add-member-header mb-4">Add New Member</h5>
        <%= form_with url: add_member_team_path(@team), local: true, class: 'add-member-form' do |form| %>
          <%= form.label :user_id, "Select a user to add", class: 'form-label' %>
          <%= select_tag :user_id, options_from_collection_for_select(@users - @members.map(&:user), :id, :email), class: 'form-control mb-3' %>
          <%= form.submit "Add Member", class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<style>
  .text{
    
    margin-right: 615px;
}
</style>